@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
.bg-overlay{
    background-image: url('image/login-backgrond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.bg-width{
    width: 100%;
    height: 100%;
}